{% extends "index.html" %}
{% load static %}
{% block title %}Exibir contato{% endblock title %}

{% block content %}

<div class="container margin_top">
    <form action="" method="post">
        <div class="form-floating mb-3">
            {{form.firstname}}
            <label for="firstname_id">Primeiro Nome</label>
          </div>
          <div class="form-floating mb-3">
            {{form.lastname}}
            <label for="lastname_id">Sobrenome</label>
          </div>
    </form>
</div>
        
{% endblock content %}   